[user]
	email = m2@snap2web.com
	name = Michael Durrant
[core]
	excludesfile = /home/durrantm/.gitignore_global
	editor = vim -f
[color]
	ui = true
[alias]
	comit = commit -v
	ci = commit -v
  s = status
  o = push origin master
  h = push heroku master
[diff]
  tool = meld
[merge]
  tool = meld
[push]
	default = current
