[user]
	name = Michael Durrant
	email = m2@snap2web.com
[push]
	default = current
[alias]
  co = checkout
  ci = commit -v
	comit = commit -v
[branch]
	autosetuprebase = always
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
  ui = true
